<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="navbar">
      <nav>
        <a href="/main" class="navchecked">Main</a>
        <a href="/search">Search</a>
        <a href="/myprofile">My profile</a>
      </nav>
      <div class="currentuser">
        <b class="nickname">{{ user.nickName }}</b> | 
        <form action="/logout" class="logout" method="POST">
          <input type="submit" value="Logout">
        </form>
      </div>
    </div>

    {{#each posts}}
    <div class="post">
      <p class="title"><a href="/post/id={{this.id}}">{{this.title}}</a></p>
      <img src="/uploads/{{this.image}}" class="image">
      <p class="text">{{this.text}}</p>
      <p class="date">{{this.date}}</p>
    </div>
    {{/each}}
  </body>
</html>

